<!-- lab-booking.component.html -->
<mat-toolbar color="primary">
  <span>Dashboard</span>
  <span class="spacer"></span>
  <button mat-button routerLink="/">Home</button>
  <button mat-button routerLink="/profile">Profile</button>
  <button mat-button routerLink="/labs">Labs</button>
</mat-toolbar>

<div class="flex-container">
<div class="container">
  <h2>Lab Booking</h2>
  <form [formGroup]="bookingForm" (ngSubmit)="bookLab()">
    <div class="form-group">
      <label for="booking_date">Booking Date</label>
      <input type="date" formControlName="booking_date" id="booking_date" max="{{ maxBookingDate }}">
    </div>
    <div class="form-group">
      <label for="start_time">Start Time</label>
      <input type="time" formControlName="start_time" id="start_time">
    </div>
    <div class="form-group">
      <label for="end_time">End Time</label>
      <input type="time" formControlName="end_time" id="end_time">
    </div>
    <div class="purpose">
      <label for="purpose">Purpose</label>
      <select formControlName="purpose" id="purpose">
        <option value="full_booking">Full Booking</option>
        <option value="study">Study</option>
      </select>
    </div>
    <button type="submit" class="btn btn-primary">Book Lab</button>
  </form>
</div>
</div>
