<mat-toolbar color="primary">
    <span>Reservations</span>
    <span class="spacer"></span>
    <a mat-button routerLink="/availability">
        <mat-icon>event</mat-icon> Calendar
    </a>
    <a mat-button routerLink="/profile">
        <mat-icon>person</mat-icon> Profile
    </a>
    <a mat-button routerLink="/labs">
      <mat-icon>construction</mat-icon> Labs
  </a>
  </mat-toolbar>

<div *ngIf="bookings" class="booking-history">
    <h1 class="booking-history-title">Booking History</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Lab Name</th>
                <th>Booking Date</th>
                <th>Start Time</th>
                <th>End Time</th>
                <th>Purpose</th>
                <th>Actions</th>  
            </tr>
        </thead>
        <tbody>
            <!-- Inside the <tr> element -->
                <tr *ngFor="let booking of bookings" [ngClass]="{'past-booking': !isBookingEditable(booking.booking_date,booking.end_time)}">
                <td>{{ booking.lab_name }}</td>
                <td>{{ booking.booking_date }}</td>
                <td>{{ booking.start_time }}</td>
                <td>{{ booking.end_time }}</td>
                <td>{{ booking.purpose }}</td>
                <td>
                    <ng-container *ngIf="isBookingEditable(booking.booking_date,booking.end_time)">
                        <button mat-icon-button (click)="openEditReservationDialog(booking)">
                            <mat-icon color="primary">edit</mat-icon>
                        </button>
                        <button mat-icon-button (click)="openConfirmationDialog(booking.booking_id)">
                            <mat-icon color="warn">delete</mat-icon>
                        </button>
                    </ng-container>
                    <ng-container *ngIf="!isBookingEditable(booking.booking_date,booking.end_time)">
                        Expired
                    </ng-container>
                </td>
            </tr>
        </tbody>
    </table>
</div>
